@import '~@/mixins.sass'
@import '~@/variables.sass'

.list
	justify-content: space-between

	&__item
		margin-bottom: 0
		box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75)
		width: 49%
		opacity: 0
		height: 0

		&_visible
			opacity: 1
			+transitionMixin(opacity)
			height: auto
			margin-bottom: 30px

		+respond-to(mobile-l)
			width: 100%

		&_full-width
			width: 100%

			.row
				align-items: center

			.list__card
				width: 50%

				+respond-to(mobile-l)
					width: 100%

		&-header
			align-items: center
			font-size: 20px

			.col
				width: auto
				+respond-to(mobile-m)
					width: 33.333%

			.list__img
				+size(70px)
				padding: 10px
				margin-right: 25px
				border: 1px solid $grey
				border-radius: 100%

				+respond-to(tablet)
					margin-right: 10px

				img
					+size(100%)

	&__card
		width: 100%
		padding: 10px 15px
		align-self: flex-start

	&__video
		+respond-to(mobile-l)
			width: 100%

	&__favorite
		cursor: pointer
		margin-left: auto
		+respond-to(mobile-m)
			text-align: right

	&__age
		color: $grey2

	&__phone
		font-size: 16px
