@import '~@/mixins.sass'
@import '~@/variables.sass'

.table
	width: 100%
	border-collapse: collapse

	&__thead
		text-align: left

	&__img
		+size(75px)

	&__favorite
		font-size: 16px
		cursor: pointer

	&__td
		padding: 15px 0

		&_hide-mobile-l
			+respond-to(mobile-l)
				display: none

		&_hide-mobile-m
			+respond-to(mobile-m)
				display: none

	&__tr
		border: none
		height: 0
		opacity: 0

		&_visible
			opacity: 1
			+transitionMixin(opacity)
			height: auto
			border-bottom: 1px solid $grey

		&:last-of-type
			border: none
