@import '~font-awesome/scss/font-awesome'
@import '~video-react/styles/scss/video-react'

@import './variables.sass'
@import './mixins.sass'

body
	font-size: 14px
	font-family: Arial, Helvetica, sans-serif

	*
		box-sizing: border-box
		outline: none

.container
	width: 100%
	max-width: 1200px
	margin: 0 auto
	padding: 0 10px

.header
	margin: 25px 0

	.row
		justify-content: space-between
		align-items: center

		.col
			width: auto

			+respond-to(mobile-m)
				width: 100%

	.btn-sorting
		.btn
			width: 33.333%

.btn
	background: $white
	border: 1px solid $grey
	border-radius: 5px
	padding: 5px 10px
	margin-bottom: 10px
	cursor: pointer
	text-decoration: none
	color: $black
	display: inline-block
	font-size: 11px
	+transitionMixin(background)

	&_active
		background: $grey2
		color: $white

.btn-group
	.btn
		border-radius: 0

		+respond-to(mobile-m)
			width: 50%

		&:first-of-type
			border-radius: 5px 0 0 5px

		&:last-of-type
			border-radius: 0 5px 5px 0

.row
	display: flex
	flex-wrap: wrap

.col
	width: 50%

.text-right
	text-align: right

.toggle-view
	+respond-to('mobile-m')
		text-align: center
