@import './variables.sass'

=size($s)
	width: $s
	height: $s

=respond-to($media)
	@if $media == tablet
		@media(max-width: 768px)
			@content
	@if $media == mobile-l
		@media(max-width: 425px)
			@content
	@if $media == mobile-m
		@media(max-width: 375px)
			@content

=transitionMixin($item)
	transition: $item $transition-type $transition-speed
